
html {
    scroll-behavior: smooth;
}
.footer{
    text-align: center;
}

section {
    scroll-margin-top: 5rem;
}
.navigationbar {
    position: sticky;
    top: 0; 
    background-color: white; 
    padding: 10px;
    border-bottom: 2px solid black;
}

.riga-foto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.prodotto {
    text-align: center;
}

#titolo {
    cursor: pointer;
}

.prodotto img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}